<header>
    <div id="top-bar">
        <span id="restaurant-icon"></span>
        <% if (navContext && navContext.tableNumber) { %>
            <div>TableNo. <%= navContext.tableNumber %></div>
        <% } %>
        <button id="setting-btn"><img id="setting_icon" src="/static/styles/img/setting_icon.png"></button>
    </div>
</header>
