:root {
    --color--main: #f0ffff;
    --color--black: #000000;
    --color--white: #ffffff;
    --light--grey: #f5f5f5;
    --medium-grey: #eaeaea;
    --dark--grey: #767676;
    --color--orange: #ff8200;
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* Sidebar */

#side-bar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100dvh;
    padding: 16px;
    padding-top: 30px;
    overflow-y: auto;
    font-family: "Roboto", sans-serif;
    pointer-events: none;
    background-color: var(--color--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateX(100%);
    transition:
        transform 0.3s ease-in-out,
        opacity 0.3s ease-in-out;
}

#side-bar.sidebar-open {
    pointer-events: auto;
    opacity: 1;
    transform: translateX(0);
}

#side-bar #top-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#side-bar #top-banner h2 {
    margin-right: 30px;
    margin-left: 50px;
    font-size: larger;
}

#side-bar .line {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 2px;
    margin: 5px auto;
    margin-top: 20px;
    background-color: var(--light--grey);
}

#side-bar #top-banner #close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 50px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#side-bar form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#side-bar form label {
    font-weight: bold;
    color: var(--dark--grey);
}

#side-bar form #lang {
    width: 55%;
    height: 30px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: var(--medium-grey);
    border: none;
    border-radius: 100px;
}
