# Caches
__MACOSX/
.DS_Store

# Build
dist/

# Dependency directories
node_modules/

# Client build on dev
/public/constants
/public/modules
/public/scripts/**
/public/types
/src/modules/dish/dish.schema.js
/src/types/cart.js
/src/types/session.js

# Env
.env.development
.env.test
.env.production
.env.*.local

# Logs
*.log
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
