<div id="side-bar">
  <div id="top-banner">
    <h2>Setting</h2>
    <button id="close-btn">&times;</button>
  </div>
  <div class="line"></div>
  <form>
    <label for="lang">Language</label>
    <select name="lang" id="lang">
      <option value="en">En</option>
      <option value="chi">中文</option>
    </select>
  </form>
</div> 
<script type="module" src="/static/scripts/setting/setting.js"></script>

