:root {
    font-family: 'Roboto', sans-serif;
    --color--main:#f0ffff;
    --color--black:#000000;
    --color--white:#ffffff;
    --light--grey:#f5f5f5;
    --medium-grey: #eaeaea;
    --dark--grey: #767676;
    --color--orange: #ff8200;
    --dark--orange: #dc7200;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 50px auto;
  background-color: var(--color--white);
  padding-bottom: 50px;
  color: var(--color--black);
  border: 2px solid var(--light--grey);
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  overflow: hidden;
  margin-bottom: 120px;
}

#outer-container #cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 88%;
  margin: 30px auto;
}

#outer-container #cart-container h1 {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.dotted-box {
  border: none;
  width: 100%;
  height: 2px; /* height of the rectangles */
  background-image: repeating-linear-gradient(
    to right,
    var(--medium-grey) 0,
    var(--medium-grey) 7px,  
    transparent 5px,
    transparent 10px 
  );
}

#outer-container #cart-container .label {
  color: var(--dark--grey);
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
}

#outer-container #cart-container #cart-items-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#outer-container #cart-container .item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 40px;
  width: 100%;
}

#outer-container #cart-container .item-container .column-1,
#outer-container #cart-container .item-container .column-2,
#outer-container #cart-container .item-container .column-3 {
  display: flex;
  flex-direction: column;
}

#outer-container #cart-container .item-container .column-1 {
  margin-left: 0;
  margin-right: 0;
  justify-content: flex-start;
}

#outer-container #cart-container .item-container .column-1 .item-icon {
  width: 150px;
  height: auto;
  object-fit: cover;
}

#outer-container #cart-container .item-container .column-1 .add-minus-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

#outer-container #cart-container .item-container .column-1 .add-minus-container .add-btn,
#outer-container #cart-container .item-container .column-1 .add-minus-container .minus-btn {
  width: 45px;
  height: 45px;
  background-color: var(--color--orange);
  border: none;
  border-radius: 3px;
  color: var(--color--white);
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

#outer-container #cart-container .item-container .column-1 .add-minus-container .add-btn {
  margin-left: auto;
  margin-right: 0;
}

#outer-container #cart-container .item-container .column-1 .add-minus-container .minus-btn {
  margin-left: 0;
  margin-right: auto;
}

#outer-container #cart-container .item-container .column-1 .add-minus-container .num-of-item {
  display: flex;
  width: 45px;
  height: 45px;
  background-color: var(--medium-grey);
  border: none;
  border-radius: 3px;
  color: var(--color--black);
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

#outer-container #cart-container .item-container .column-2 {
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0;
  margin-right: auto;
}

#outer-container #cart-container .item-container .column-2 .item-name{
  font-size: 20px;
}


#outer-container #cart-container .item-container .column-2 .customization-list {
  color: var(--color--orange);
  margin-left: 30px;
  margin-top: 10px;
}

#outer-container #cart-container .item-container .column-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: bold;
}

#outer-container #cart-container .item-container .column-3 .item-price{
  font-weight: bold;
}

#outer-container #cart-container .item-container .column-3 .customize-btn{
  background-color: var(--color-white);
  color: var(--color--orange);
  border: 3px solid var(--color--orange);
  border-radius: 100px;
  width: 160px;
  height: 45px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s linear;
}

#outer-container #cart-container .item-container .column-3 .customize-btn:hover{
  background-color: var(--light--grey);
}

#outer-container #cart-container #price-container {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: medium;
  width: 100%;
  margin-top: 15px;
}


#outer-container #cart-container #price-container #total-amount-label {
  margin-left: 0;
}

#outer-container #cart-container #price-container #total-price {
  margin-right: 0;
  margin-left: auto;
}

/* For no item in cart */
#outer-container #cart-container #no-item-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-top: 30px;
}

#outer-container #cart-container #no-item-container img{
  width: 150px;
}

#outer-container #cart-container #no-item-container h3{
  font-size: 20px;
  margin-bottom: 30px;
}

#bottom-bar {
  position: fixed;          
  bottom: 0;               
  left: 0;                 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,.2);
  border-radius: 30px 30px 0 0;
  gap: 30px;
  z-index: 900;     
  background-color: var(--color--white);       
}


#bottom-bar #place-order {
  background-color: var(--color--orange);
  color: var(--color--black);
  border: none;
  border-radius: 100px;
  width: 160px;
  height: 45px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s linear;
}

#bottom-bar #place-order:hover{
  background-color: var(--dark--orange);
}

#bottom-bar #back-to-menu {
  background-color: var(--color-white);
  color: var(--color--orange);
  border: 3px solid var(--color--orange);
  border-radius: 100px;
  width: 160px;
  height: 45px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s linear;
}

#bottom-bar #back-to-menu:hover{
  background-color: var(--light--grey);
}

@media (max-width: 1300px) {
  #outer-container{
    width: 80%;
  }
}

@media (max-width: 870px) {
  #outer-container{
    width: 90%;
  }
}

@media (max-width: 700px) {
  #outer-container #cart-container h1 {
    font-size: 20px;
  }

  #outer-container #cart-container .label {
    font-size: 15px;
  }

  #outer-container #cart-container .item-container .column-1 .item-icon {
    width: 120px;
  }

  #outer-container #cart-container .item-container .column-1 .add-minus-container .add-btn,
  #outer-container #cart-container .item-container .column-1 .add-minus-container .minus-btn {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }

  #outer-container #cart-container .item-container .column-1 .add-minus-container .num-of-item {
    width: 35px;
    height: 35px;
    font-size: 15px;
  }

  #outer-container #cart-container .item-container .column-2 .item-name{
    font-size: 15px;
  }

  #outer-container #cart-container .item-container .column-2 .customization-list {
    font-size: 13px;
  }

  #outer-container #cart-container .item-container .column-3 .item-price{
    font-size: 15px;
  }

  #outer-container #cart-container .item-container .column-3 .customize-btn{
    width: 130px;
    height: 40px;
    font-size: 15px;
  }

  #bottom-bar #place-order {
    width: 130px;
    height: 40px;
    font-size: 15px;
  }

  #bottom-bar #back-to-menu {
    width: 130px;
    height: 40px;
    font-size: 15px;
  }

  #outer-container #cart-container .item-container {
    gap: 20px;
  }
}

@media (max-width: 550px) {
  #outer-container #cart-container .item-container .column-3 .customize-btn{
    width: 90px;
    height: 30px;
    font-size: 10px;
  }

  #bottom-bar #place-order {
    width: 110px;
    height: 35px;
    font-size: 10px;
  }

  #bottom-bar #back-to-menu {
    width: 110px;
    height: 35px;
    font-size: 10px;
  }

  #bottom-bar {
    gap: 20px;
  }

  #outer-container #cart-container .item-container .column-1 .item-icon {
    width: 100px;
  }

  #outer-container #cart-container .item-container .column-1 .add-minus-container .add-btn,
  #outer-container #cart-container .item-container .column-1 .add-minus-container .minus-btn {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }

  #outer-container #cart-container .item-container .column-1 .add-minus-container .num-of-item {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }

  #outer-container #cart-container .item-container {
    gap: 10px;
  }

  #outer-container #cart-container .item-container .column-2 .customization-list {
    margin-left: 20px;
  }

  #outer-container #cart-container #no-item-container{
    gap: 5px;
  }

  #outer-container #cart-container #no-item-container img{
    width: 100px;
  }

  #outer-container #cart-container #no-item-container h3{
    font-size: 15px;
  }
}

@media (max-width: 380px) {
  #outer-container #cart-container .item-container .column-3 .customize-btn{
    width: 90px;
    height: 30px;
    font-size: 10px;
  }

  #outer-container #cart-container .item-container .column-1 .item-icon {
    width: 80px;
  }

  #outer-container #cart-container .item-container .column-1 .add-minus-container .add-btn,
  #outer-container #cart-container .item-container .column-1 .add-minus-container .minus-btn {
    width: 23px;
    height: 23px;
    font-size: 13px;
  }

  #outer-container #cart-container .item-container .column-1 .add-minus-container .num-of-item {
    width: 23px;
    height: 23px;
    font-size: 13px;
  }

  #outer-container #cart-container .item-container .column-2 .item-name{
    font-size: 13px;
  }

  #outer-container #cart-container .item-container .column-2 .customization-list {
    font-size: 11px;
  }

  #outer-container #cart-container .item-container .column-3 .item-price{
    font-size: 13px;
  }

  #outer-container #cart-container .label {
    font-size: 13px;
  }

  #outer-container #cart-container {
    width: 90%;
  }

  #outer-container{
    width: 95%;
  }

  #outer-container #cart-container #price-container #total-amount-label {
    font-size: 13px;
  }

  #outer-container #cart-container #price-container #price {
    font-size: 13px;
  }
}