:root {
    --color--main: #f0ffff;
    --color--black: #000000;
    --color--white: #ffffff;
    --light--grey: #f5f5f5;
    --medium-grey: #eaeaea;
    --dark--grey: #767676;
    --color--orange: #ff8200;
    --dark--orange: #dc7200;
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding-bottom: 50px;
    margin: 50px auto;
    margin-bottom: 120px;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    color: var(--color--black);
    background-color: var(--color--white);
    border: 2px solid var(--light--grey);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#outer-container #cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 88%;
    margin: 30px auto;
}

#outer-container #cart-container h1 {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 25px;
}

.dotted-box {
    width: 100%;
    height: 2px; /* height of the rectangles */
    background-image: repeating-linear-gradient(
        to right,
        var(--medium-grey) 0,
        var(--medium-grey) 7px,
        transparent 5px,
        transparent 10px
    );
    border: none;
}

#outer-container #cart-container .label {
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--dark--grey);
}

#outer-container #cart-container #cart-items-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#outer-container #cart-container .item-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#outer-container #cart-container .item-container .column-1,
#outer-container #cart-container .item-container .column-2,
#outer-container #cart-container .item-container .column-3 {
    display: flex;
    flex-direction: column;
}

#outer-container #cart-container .item-container .column-1 {
    justify-content: flex-start;
    margin-right: 0;
    margin-left: 0;
}

#outer-container #cart-container .item-container .column-1 .item-icon {
    width: 150px;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

#outer-container
    #cart-container
    .item-container
    .column-1
    .add-minus-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

#outer-container
    #cart-container
    .item-container
    .column-1
    .add-minus-container
    .add-btn,
#outer-container
    #cart-container
    .item-container
    .column-1
    .add-minus-container
    .minus-btn {
    width: 45px;
    height: 45px;
    font-size: 25px;
    font-weight: bold;
    color: var(--color--white);
    cursor: pointer;
    background-color: var(--color--orange);
    border: none;
    border-radius: 3px;
}

#outer-container
    #cart-container
    .item-container
    .column-1
    .add-minus-container
    .add-btn {
    margin-right: 0;
    margin-left: auto;
}

#outer-container
    #cart-container
    .item-container
    .column-1
    .add-minus-container
    .minus-btn {
    margin-right: auto;
    margin-left: 0;
}

#outer-container
    #cart-container
    .item-container
    .column-1
    .add-minus-container
    .num-of-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    color: var(--color--black);
    background-color: var(--medium-grey);
    border: none;
    border-radius: 3px;
}

#outer-container #cart-container .item-container .column-2 {
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 0;
}

#outer-container #cart-container .item-container .column-2 .item-name {
    font-size: 20px;
}

#outer-container #cart-container .item-container .column-2 .customization-list {
    margin-top: 10px;
    margin-left: 30px;
    color: var(--color--orange);
}

#outer-container #cart-container .item-container .column-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    font-weight: bold;
}

#outer-container #cart-container .item-container .column-3 .item-price {
    font-weight: bold;
}

#outer-container #cart-container .item-container .column-3 .customize-btn {
    padding: 4px 8px;
    font-size: 12px;
    color: var(--color--orange);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--color-white);
    border: 2px solid var(--color--orange);
    border-radius: 100px;
    transition: all 0.2s linear;
}

.delete-btn {
    padding: 4px 8px;
    font-size: 12px;
    color: var(--color--orange);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--color-white);
    border: 2px solid var(--color--orange);
    border-radius: 100px;
    transition: all 0.2s linear;
}

#outer-container
    #cart-container
    .item-container
    .column-3
    .customize-btn:hover {
    background-color: var(--light--grey);
}

#outer-container #cart-container #price-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    font-size: medium;
    font-weight: bold;
}

#outer-container #cart-container #price-container #total-amount-label {
    margin-left: 0;
}

#outer-container #cart-container #price-container #total-price {
    margin-right: 0;
    margin-left: auto;
}

/* For no item in cart */
#outer-container #cart-container #no-item-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

#outer-container #cart-container #no-item-container img {
    width: 150px;
}

#outer-container #cart-container #no-item-container h3 {
    margin-bottom: 30px;
    font-size: 20px;
}

#bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 900;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: var(--color--white);
    border-radius: 30px 30px 0 0;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2);
}

#bottom-bar #place-order {
    width: 160px;
    height: 45px;
    font-size: large;
    font-weight: bold;
    color: var(--color--black);
    cursor: pointer;
    background-color: var(--color--orange);
    border: none;
    border-radius: 100px;
    transition: all 0.2s linear;
}

#bottom-bar #place-order:hover {
    background-color: var(--dark--orange);
}

#bottom-bar #back-to-menu {
    display: block;
    width: 160px;
    height: 45px;
    padding-top: 8px;
    font-size: large;
    font-weight: bold;
    color: var(--color--orange);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--color-white);
    border: 3px solid var(--color--orange);
    border-radius: 100px;
    transition: all 0.2s linear;
}

#bottom-bar #back-to-menu:hover {
    background-color: var(--light--grey);
}

@media (max-width: 1300px) {
    #outer-container {
        width: 80%;
    }
}

@media (max-width: 870px) {
    #outer-container {
        width: 90%;
    }
}

@media (max-width: 700px) {
    #outer-container #cart-container h1 {
        font-size: 20px;
    }

    #outer-container #cart-container .label {
        font-size: 15px;
    }

    #outer-container #cart-container .item-container .column-1 .item-icon {
        width: 120px;
    }

    #outer-container
        #cart-container
        .item-container
        .column-1
        .add-minus-container
        .add-btn,
    #outer-container
        #cart-container
        .item-container
        .column-1
        .add-minus-container
        .minus-btn {
        width: 35px;
        height: 35px;
        font-size: 20px;
    }

    #outer-container
        #cart-container
        .item-container
        .column-1
        .add-minus-container
        .num-of-item {
        width: 35px;
        height: 35px;
        font-size: 15px;
    }

    #outer-container #cart-container .item-container .column-2 .item-name {
        font-size: 15px;
    }

    #outer-container
        #cart-container
        .item-container
        .column-2
        .customization-list {
        font-size: 13px;
    }

    #outer-container #cart-container .item-container .column-3 .item-price {
        font-size: 15px;
    }

    #outer-container #cart-container .item-container .column-3 .customize-btn {
        width: 130px;
        height: 40px;
        font-size: 15px;
    }

    #bottom-bar #place-order {
        width: 130px;
        height: 40px;
        font-size: 15px;
    }

    #bottom-bar #back-to-menu {
        width: 130px;
        height: 40px;
        font-size: 15px;
    }

    #outer-container #cart-container .item-container {
        gap: 20px;
    }
}

@media (max-width: 550px) {
    #outer-container #cart-container .item-container .column-3 .customize-btn {
        width: 90px;
        height: 30px;
        font-size: 10px;
    }

    #bottom-bar #place-order {
        width: 110px;
        height: 35px;
        font-size: 10px;
    }

    #bottom-bar #back-to-menu {
        width: 110px;
        height: 35px;
        font-size: 10px;
    }

    #bottom-bar {
        gap: 20px;
    }

    #outer-container #cart-container .item-container .column-1 .item-icon {
        width: 100px;
    }

    #outer-container
        #cart-container
        .item-container
        .column-1
        .add-minus-container
        .add-btn,
    #outer-container
        #cart-container
        .item-container
        .column-1
        .add-minus-container
        .minus-btn {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    #outer-container
        #cart-container
        .item-container
        .column-1
        .add-minus-container
        .num-of-item {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    #outer-container #cart-container .item-container {
        gap: 10px;
    }

    #outer-container
        #cart-container
        .item-container
        .column-2
        .customization-list {
        margin-left: 20px;
    }

    #outer-container #cart-container #no-item-container {
        gap: 5px;
    }

    #outer-container #cart-container #no-item-container img {
        width: 100px;
    }

    #outer-container #cart-container #no-item-container h3 {
        font-size: 15px;
    }
}

@media (max-width: 380px) {
    #outer-container #cart-container .item-container .column-3 .customize-btn {
        width: 90px;
        height: 30px;
        font-size: 10px;
    }

    #outer-container #cart-container .item-container .column-1 .item-icon {
        width: 80px;
    }

    #outer-container
        #cart-container
        .item-container
        .column-1
        .add-minus-container
        .add-btn,
    #outer-container
        #cart-container
        .item-container
        .column-1
        .add-minus-container
        .minus-btn {
        width: 23px;
        height: 23px;
        font-size: 13px;
    }

    #outer-container
        #cart-container
        .item-container
        .column-1
        .add-minus-container
        .num-of-item {
        width: 23px;
        height: 23px;
        font-size: 13px;
    }

    #outer-container #cart-container .item-container .column-2 .item-name {
        font-size: 13px;
    }

    #outer-container
        #cart-container
        .item-container
        .column-2
        .customization-list {
        font-size: 11px;
    }

    #outer-container #cart-container .item-container .column-3 .item-price {
        font-size: 13px;
    }

    #outer-container #cart-container .label {
        font-size: 13px;
    }

    #outer-container #cart-container {
        width: 90%;
    }

    #outer-container {
        width: 95%;
    }

    #outer-container #cart-container #price-container #total-amount-label {
        font-size: 13px;
    }

    #outer-container #cart-container #price-container #price {
        font-size: 13px;
    }
}
