<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <link rel="stylesheet" href="/static/styles/settings/settings.css">
    <link rel="stylesheet" href="/static/styles/cart/cart.css">
</head>

<body>
    <%- include("components/nav/top"); -%>
    <%- include("components/sidebar/settings"); -%>
    <main>
        <div id="outer-container">
            <div id="cart-container">
                <!-- Items added in script -->
            </div>
        </div>
        <div id="bottom-bar">
            <button type="button" id="back-to-menu">Keep Ordering</button>
            <button type="button" id="place-order">Place Order</button>
        </div>
    </main>
    <script type="module" src="/static/scripts/cart/cart.js"></script>
    <script type="module" src="/static/scripts/settings/settings.js"></script>
</body>

</html>
