<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <link rel="stylesheet" href="/static/styles/settings/settings.css">
    <link rel="stylesheet" href="/static/styles/cart/cart.css">
</head>

<body>
    <%- include("components/nav/top"); -%>
    <%- include("components/sidebar/settings"); -%>
    <main>
        <div id="outer-container">
            <div id="cart-container">
                <h1>Order Info</h1>

                <div class="dotted-box"></div>

                <span class="label">Item</span>

                <div class="dotted-box"></div>

                <div id="cart-items-list"></div>

                <div id="price-container">
                    <span id="total-amount-label">Total Amount:</span>
                    <span id="total-price">$0.00</span>
                </div>
            </div>
        </div>
        <div id="bottom-bar">
            <a id="back-to-menu" href="/menu">Keep Ordering</a>
            <button type="button" id="place-order">Place Order</button>
        </div>
    </main>
    <script type="module" src="/static/scripts/cart/cart.js"></script>
    <script type="module" src="/static/scripts/settings/settings.js"></script>
</body>

</html>
