<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Ordering And Tracking App</title>
</head>

<body>
    <main>
        <h1>Welcome to the Food Ordering & Tracking App</h1>
        <p>Please choose where you would like to start.</p>
        <div>
            <a href="/menu">View Menu</a>
        </div>
    </main>
</body>

</html>
