<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Ordering And Tracking App</title>
    <link rel="stylesheet" href="\static\styles\top-bar\top-bar.css">
</head>

<body>
    <%- include("components/nav/top"); -%>
    <%- include("components/nav/bottom"); -%>
    <main>
        <section>
            <h2>Menu Items</h2>
            <p>Browse dishes and tap to view product details.</p>
        </section>
        <button type="button">Call Staff</button>
    </main>
</body>

</html>
