<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Record</title>
</head>

<body>
    <%- include("components/nav/top"); -%>
    <%- include("components/nav/bottom"); -%>
    <main>
        <h2>Order Record</h2>
        <p>Track the status of all orders placed from this table.</p>
    </main>
</body>

</html>
