<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Code Generation</title>
</head>

<body>
    <%- include("components/nav/top"); -%>
    <%- include("components/nav/bottom"); -%>
    <main>
        <h2>Generate Session QR Code</h2>
        <form>
            <label>
                Table No
                <input type="text" name="tableNumber" placeholder="Enter table number" />
            </label>
            <button type="submit">Generate</button>
        </form>
    </main>
</body>

</html>
