:root {
    font-family: 'Roboto', sans-serif;
    --color--main:#f0ffff;
    --color--black:#000000;
    --color--white:#ffffff;
    --light--grey:#f5f5f5;
    --medium-grey: #eaeaea;
    --dark--grey: #767676;
    --color--orange: #ff8200;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 10vh;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);;
}

#top-bar #setting-btn {
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#top-bar #setting_icon{
  object-fit: cover;
  width: 30px;
}